.home {
  font-size: 20px;
}

.about {
  font-size: 20px;
}

.contact {
  font-size: 20px;
}

.services {
  font-size: 100px;
}

.portofolio {
  font-size: 20px;
}

.MyBini {
  height: 100px;
  width: 100px;
}